@import '../../variables';

.card {
  flex-grow: 0;
  background-color: $header;
  margin-bottom: 1rem;
  border: 1px solid green;
  border-radius: 0.5rem;
  padding: 0.5rem 0rem;
}

.card-title {
  margin: 0rem 1rem;
  font-weight: 800;
}

.job-title {
  margin: 1rem;
  margin-top: 0rem;
}