@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Raleway:wght@100&display=swap');

$header: #CE6C47;
$title: #4C191B;
$button-hover: lighten(#4C191B, 20%);
$button-active: #4C191B;
$background: #FFEEDB;

$font-playfair: 'Playfair Display', serif;
$font-raleway: 'Raleway', sans-serif;

$primary: #4C191B;
$secondary: #CE6C47;

